<section id="about" class="section-reverse">
   <div>
    <h2>Legal para dummies</h2>
    <hr>
    <p>
      ¿A que siempre quisiste que te explicaran en tu idiomas aspectos legales del desarrollo de software? Pues con esta excusa aprovecharemos para hacer un recorrido a lo largo de la vida de un software, atacando los problemas legales que van apareciendo y ofreciendo algunas soluciones creativas.
    </p>
    <p>
Revisaremos desde la situación laboral de los desarrolladores o la dura vida de los freelance hasta las licencias de software o los contratos de desarrollo, pasando por los acuerdos de confidencialidad, la ética en el desarrollo, los derechos de autor o la propiedad intelectual de nuestro código. Algunas veces la principal motivación para tener estas cuestiones en consideración no es solo cumplir con la ley, que es importante, sino evitar problemas y sanciones a futuro. Abriremos la intervención al público para resolver dudas o preguntas, y poder debatir la conveniencia (o no) de un marco legal para todos.
    </p>
  </div>
</section>
