<section id="location" class="section-reverse">
<div >
  <h2>
    Lugar
  </h2>
  <hr>
  <p>El evento tiene lugar en las oficinas de <b><a href="http://mercadonatech.es/es/">MercadonaTech</a></b> en Plaza de America, 2, 6ª Planta</p>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.9911041079195!2d-0.36709538489625626!3d39.46952967948646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048b9e51db26f%3A0x9a76a81d3d6e7b1d!2zUGxhw6dhIGQnQW3DqHJpY2EsIDIsIDQ2MDA0IFZhbMOobmNpYQ!5e0!3m2!1ses!2ses!4v1553020533526" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div>
</div>
</section>
